<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/resourses/css/tljStyle.css">
    <title>Document</title>
</head>
<body>

    <div class="container">
        <div class="galeria">
        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Accion"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>

        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Aventura"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>
    
        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Conduccion"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>

        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Estrategia"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>
    
        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Horror"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>
    
        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Plataformas"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>
    
        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Rol_y_RPG"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>

        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Simulador"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>

        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "FPS-Shooter"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>
    
        <% results.forEach(function(juego){ %>
            <% if(juego.categoria_juego == "Supervivencia"){ %>
                <div  class="tarjeta-juego">
                    <a href="/juego/<%= juego.url_juego %>/<%= juego.id_juego %>"> <img src="/<%= juego.portadaPath_juego %>" alt=""></a>
                    <h3><%= juego.titulo_juego %></h3> 
                </div>
            <% } %>
        <%})%>
        </div>
    </div>

</body>
</html>