<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/JuegosAdmin" method="post" enctype="multipart/form-data">
        <label for="titulo">titulo</label>
        <input type="text" name="titulo" id="titulo">
        <br>

        <label for="descripcion">Descripcion</label>
        <br>
        <textarea name="descripcion" id="descripcion"  rows="10" cols="80"></textarea>
        <br>

        <label for="nota">Nota</label>
        <input type="text" name="nota" id="nota">
        <br>

        <label for="portadaImg">Portada del juego</label>
        <input type="file" name="portadaImg" id="portadaPath">
        <br>

        <h5>Ponga todo en minusculas</h5>

        <label for="categoria">Categoria</label>
        <select name="categoria" id="categoria">
            <option value="Accion">Accion</option>
            <option value="Aventura">Aventura</option>
            <option value="Conduccion">Conduccion</option>
            <option value="Estrategia">Estrategia</option>
            <option value="Horror">Horror</option>
            <option value="Plataformas">Plataformas</option>
            <option value="Rol_y_RPG">Rol y RPG</option>
            <option value="Simulador">Simulador</option>
            <option value="FPS-Shooter">FPS-SHOOTER</option>
            <option value="Supervivencia">Supervivencia</option>
        </select>

        <label for="requisitos">Requsitos</label>
        <input type="text" name="requisitos" id="requisitos">
        <br>

        <label for="salida">Año de salida</label>
        <input type="number" name="salida" id="salida">
        <br>

        <label for="urlGamePlay">Video del juego</label>
        <input type="text" name="urlGamePlay" id="urlGamePlay">
        <br>

        <input type="submit" id="" value="Agregar">
    </form>

    <% juegos.forEach(function(juego){ %>
        <div>
            <img src="<%= juego.portadaPath_juego %>" alt="<%= juego.titulo_juego %>" height="200px" width="150">
            <h3><%= juego.titulo_juego %></h3>
            <a href="/juegosAdmin/eliminar/<%= juego.id_juego %>">eliminar</a>
            <a href="/juegosAdmin/editar/<%= juego.id_juego %>">editar</a>
            <a href="/juegosAdmin/captura/<%= juego.id_juego %>">capturas</a>
        </div>  
        <% }) %>


</body>
</html>